..DS_Store
._.DS_Store

*~.*
*.chk
*.bak
*.old
tmp.*
tmp/
build/
mulle-fetch.sublime-workspace
mulle-project/publisher-info.sh

*.sublime-workspace
var/
kitchen/
stash/
dependency/
addiction/$'\n'.mulle-make-build-dir
version.old
.mulle-make-build-dir
.gdb_history
cmake-build-*/
.ackrc
wilted/
mulle-template-composer-*
mulle-markdown-preview-*.html
build-*
coverage*.html
*.gcda
*.gcno
cola/wilted/
